<!-- <form action="">
  <input type="text" required [(ngModel)]="miHeroe.id" name="id">
  <input type="text" required [(ngModel)]="miHeroe.nombre" name="miHeroe.nombre">
  <input type="text" required [(ngModel)]="miHeroe.sexo" name="miHeroe.sexo">
  <input type="text" required [(ngModel)]="miHeroe.poder" name="miHeroe.poder">
  <input type="text" required [(ngModel)]="miHeroe.terreno" name="miHeroe.terreno">
  <button (click)=logear() nombre="btnLogear"></button>


</form> -->
<form [formGroup]="formularioHeroe">
  <input type="text" formControlName='id'>
  <input type="text" formControlName='nombre'>
  <input type="text" formControlName='sexo'>
  <input type="text" formControlName='poder'>
  <input type="text" formControlName='terreno'>
  <button (click)=logear() nombre="btnLogear" [disabled]='formularioHeroe.invalid'>Enviar</button>

</form>
